@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">test2</h1>
        <h1 class="display-4">test2</h1>
            <h1 class="display-4">test2</h1>
                <h1 class="display-4">test2</h1>
=======
    <h1 class="display-4">test1</h1>
>>>>>>> fe85bc93fb3ce6990e3feea1c8ae63aa9a76095c
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
